<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:springschema="http://dzone.heihei.com:12121/springschema"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://dzone.heihei.com:12121/springschema http://dzone.heihei.com:12121/a.xsd"
	default-autowire="byName">

	<springschema:b id="b" />
	<springschema:a id="a" prefix="${config.prefix}" suffix="]" />
	<springschema:a id="x" prefix="{{" suffix="}}" />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" autowire="byName">
		<property name="location">
			<value>classpath:config.property</value>
		</property>
	</bean>

</beans>